.home-section{
    color: var(--accent-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 70vh;
    margin-top: 8vh;
    margin-bottom: 15vh;
    padding: 3vh 6vw;
    overflow: hidden;
    background-color: var(--grey);
}
.reverse{
    flex-direction: row-reverse;
    background-color: var(--background-color);
}

.home-section-discription{
    width: 60%;
    padding: 2vh 0;
    /* padding: 3vh 6vw; */
}
.home-section-discription h3{
    height: 100%;
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'AvantGarde_R', sans-serif;
    font-size: calc(1.5rem + 2vw);
}

.home-section-discription p{
    height: 100%;
    width: auto;
    margin-top: 5vh;
    font-family: 'AvantGarde_R', sans-serif;
    font-size: calc(1rem + 0.8svw);
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-section .section-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
@media(min-width: 840px){
    .home-section .section-img{
        max-width: 50%;
        min-width: 300px;
        max-height: 90%;
        min-height: 200px;
    }
}

.reverse .home-section-discription{
    padding-left: 8vw;
}
.section-img img{
    width: 100%;
    height: 100%; 
    object-fit: contain;
}


@media(max-width: 840px){
    .home-section{
        flex-direction: column;
        height: auto;
        margin: 0 5vw;
        overflow: hidden;
    }
    .home-section-discription{
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .home-section-discription h3{
        font-size: calc(1.5rem + 1vw);
    }
    .home-section-discription p{
        font-size: calc(1rem + 0.8vw);
        margin-top: 2vh;
        margin-bottom: 5vh;
        text-align: center;
    }
    .section-img{
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        margin-bottom: 6vh;
    }
    .reverse .home-section-discription{
        padding-left: 0;
    }
}

@media(max-width: 500px) {
    .home-section-discription{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }
    .home-section-discription h3{
        text-align: start;
    }
    .home-section-discription p{
        text-align: start;
    }
    .home-section{
        justify-content: flex-start;
    }
}