.heading{
    color: var(--red);
    font-family: 'Lobster', sans-serif;
    font-size: calc(3rem + 2vw);
    font-weight: 600;
    width: 80vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.mobile-nav{
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 500;
}

@media (min-width: 840px) {
    .mobile-nav{
        display: none;
    }
}

@media(min-width: 460px) and (max-width: 840px){
    .mobile-nav{
        padding: 1vh 2vw;
    } 
}