.heading{
    color: var(--red);
    font-family: 'Lobster', sans-serif;
    font-size: calc(3rem + 2vw);
    /* font-size: clamp(3rem, calc(4rem + 3vw), 3.5rem); */
    font-weight: 600;
    width: 80vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.mobile-nav{
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 840px) {
    .mobile-nav{
        display: none;
    }
}