.btn{
    height: 5vh;
    margin-left: 15px;
    width: clamp(8vw, 8vw, 100px);
    font-size: clamp(40px, 7vw, 30px);
    font-weight: 200;
    border: none;
    border-radius: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    color: var(--accent-blue-neutral);
}

@media (min-width: 840px) {
    .btn{
        display: none;
    }
}