.services-hero-section{
    height: 80vh;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 15vh;
}
.services-hero-section .hero-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.services-hero-section::before{
    content: "";
    height: 100%;
    width: 100%;
    background-color: var(--accent-blue-neutral);
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
}
.services-hero-section::after{
    content: "";
    height: 100%;
    width: 100%;
    border: 15px solid var(--accent-blue-neutral);
    box-sizing: border-box;
    z-index: 3;
    position: absolute;
    pointer-events: none;
}

.services-page-discription{
    position: absolute;
    color: var(--background-color);
    font-family: 'AvantGarde_R', sans-serif;
    z-index: 1;
    height: auto;
    width: auto;
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}
.services-page-discription h2{
    font-size: calc(2rem + 1vw);
    margin-bottom: 10px;
    width: auto;
    justify-content: center;
    align-items: center;
}
.services-page-discription h3{
    font-weight: 400;
    font-size: calc(1.5rem + 1vw);
    width: auto;
    justify-content: center;
    align-items: center;
}

@media (min-width: 841px) and (max-width: 1240px) {
    .services-hero-section .hero-img {
        object-fit: cover;
        object-position: center;
    }
}


@media (max-width: 840px) {
    .services-page-discription{
        justify-content: flex-start;
        align-items: flex-start;
        text-align: start;
    }

    .services-hero-section{
        margin-bottom: 10vh;
    }
}

@media(max-width: 540px){
    .services-page-discription h2{
        text-align: start;
    }
}

@media (min-width: 840px) {
    
    .services-page-discription h2{
        font-size: calc(2rem + 0.6vw);
    }

    .services-page-discription h3{
        font-size: calc(1rem + 0.6vw);
    }

}
