.hero-section{
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.hero-section .mobile-version-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.hero-section::before{
    content: "";
    height: 100%;
    width: 100%;
    background-color: var(--accent-blue-neutral);
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
}
.hero-section::after{
    content: "";
    height: 100%;
    width: 100%;
    border: 15px solid var(--accent-blue-neutral);
    box-sizing: border-box;
    z-index: 3;
    position: absolute;
    pointer-events: none;
}

.discription{
    position: absolute;
    color: var(--background-color);
    font-family: 'AvantGarde_R', sans-serif;
    z-index: 1;
    height: auto;
    width: auto;
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}
.discription h2{
    font-size: calc(2rem + 1vw);
    margin-bottom: 10px;
    width: auto;
    justify-content: center;
    align-items: center;
}
.discription h3{
    font-weight: 400;
    font-size: calc(1.5rem + 1vw);
    width: auto;
    justify-content: center;
    align-items: center;
}

@media (max-width: 840px) {
    .discription{
        justify-content: flex-start;
        align-items: flex-start;
    }
}

@media (min-width: 840px) {
    
    .discription h2{
        font-size: calc(2rem + 0.6vw);
    }

    .discription h3{
        font-size: calc(1rem + 0.6vw);
    }

}
