.navbar{
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: space-between;
    padding: 0 5vh;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--background-color);
}

.home-container{
    overflow-y: auto;
    align-items: start;
}

.call-to-action{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20vh 0;
    padding-bottom: 3vh;
    min-width: 21vw;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.footerNav{
    background-color: var(--grey);
    margin-bottom: 7vh;
}

@media(max-width: 840px){
    .footerNav{
        display: none;
    }
    .partition, .partition2{
        display: none;
    }

    .navbar{
        padding: 1vh 2vw;
    }
}