@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/* font-family: "Lobster", sans-serif; */

@font-face {
  font-family: 'Display';
  src: url('./assets/fonts/Deposta.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvantGarde_B';
  src: url('./assets/fonts/AVGARDD_2.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvantGarde_I';
  src: url('./assets/fonts/AVGARDDO_2.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvantGarde_R';
  src: url('./assets/fonts/AVGARDN_2.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}


:root {
  --red: #ff1f1f;
  --accent-blue: #003049;
  --grey: #aacadb47;
  --background-color: #fdf0d5;
  --accent-blue-neutral: #022435;
  --yellow: #f7bf50;
}

body{
  /* height: auto; */
  width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
  background-color: var(--background-color);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

button{
  cursor: pointer;
}